:root{
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    text-align: center;
    color: var(--clr-neon);
}
img{
   display: block;
   width: 400px;
   margin: 0 auto;
   transition: 0.3s;
   position:relative;
   bottom: 50px;
}
body
{
    min-height: 100vh;
    background: #0c192c;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: -1;
}
.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
.neon-button{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3), 
    0 0 0.45em var(--clr-neon) ;
    box-shadow: 
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear;
}
.neon-button::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
    filter: blur(1em);
    opacity: 0.7;
}
.neon-button::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}
.neon-button:hover,
.neon-button:focus{
    color: var(--clr-bg);
    text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus{
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus{
    opacity: 1;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
